label {
    width:100px; 
    float:left; 
    font-size:14px; 
    line-height:24px; 
    font-weight:bold; 
}
input {
    width:200px;
     margin-bottom:5px; 
     line-height:18px; 
     padding:2px 5px; 
     border-radius: 5px; 
     border:1px solid #CCC;
} 
input[type=submit], 
input[type=reset] {
    width:100px; 
    margin-left:25px; 
    margin-bottom:5px; 
    margin-top:20px; 
    line-height:18px; 
    padding:2px 5px; 
    border-radius: 5px; 
    border:1px solid #CCC; 
    color:#fff; 
    background-color:#09F;
}
.error {
    color: #FF0000; }

/* li{
    display: inline-block;
    position: relative;
}
li a{
    text-decoration: none;
    color: black;
    
} */